extends ../_layouts/layout.jade

block title
    title ТехНик

block content
    .container
        .innerWrapper
            .menu
                ul.menu__list
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_miniloaders
                            img(src="img/goods/miniloaders.png" alt="минипогрузчики")
                            p.menu__list-text Минипогрузчики
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_backhoeLoaders
                            img(src="img/goods/backhoe-loaders.png" alt="фронтальные погрузчики")
                            p.menu__list-text Фронт. погрузчики
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_wheelLoaders
                            img(src="img/goods/wheel-loaders.png" alt="экскаваторы погрузчики")
                            p.menu__list-text Экс-ры погрузчики
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_excavators
                            img(src="img/goods/excavators.png" alt="экскаваторы")
                            p.menu__list-text Экскаваторы
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_bulldozers
                            img(src="img/goods/bulldozers.png" alt="бульдозеры")
                            p.menu__list-text Бульдозеры
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_graders
                            img(src="img/goods/graders.png" alt="автогрейдеры")
                            p.menu__list-text Автогрейдеры
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_cranes
                            img(src="img/goods/cranes.png" alt="краны")
                            p.menu__list-text Автокраны
                    li.menu__list-item
                        a(href="#").menu__list-link.menu__list-link_forklifts
                            img(src="img/goods/forklifts.png" alt="вилочные погрузчики")
                            p.menu__list-text Вил. погрузчики
            .nav
                ul.nav__list
                    li.nav__list-item
                        a(href="#").nav__list-link.nav__list-link_rent
                            span.nav__list-text.nav__list-text_rent Аренда
                    li.nav__list-item
                        a(href="#").nav__list-link.nav__list-link_service
                            span.nav__list-text.nav__list-text_service Сервис
                    li.nav__list-item
                        a(href="#").nav__list-link.nav__list-link_part
                            span.nav__list-text.nav__list-text_part Запчасти
                    li.nav__list-item
                        a(href="#").nav__list-link.nav__list-link_calc
                            span.nav__list-text.nav__list-text_calc Финансовые решения
            .slider
                ul.slider__list
                    li.slider__list-item
                        img(src="img/slider-pic.png").slider__list-pic
                        span.slider__list-text Уникальное
                        span.slider__list-text.slider__list-text_mod спецпредложение!
                    li.slider__list-item
                        img(src="img/slider-pic.png").slider__list-pic
                        span.slider__list-text Уникальное
                        span.slider__list-text.slider__list-text_mod спецпредложение!
                    li.slider__list-item
                        img(src="img/slider-pic.png").slider__list-pic
                        span.slider__list-text Уникальное
                        span.slider__list-text.slider__list-text_mod спецпредложение!
                    li.slider__list-item
                        img(src="img/slider-pic.png").slider__list-pic
                        span.slider__list-text Уникальное
                        span.slider__list-text.slider__list-text_mod спецпредложение!
            .content
                .news
                    h3.news-name Последние новости
                    .news__post
                        time(datetime="19-09-2014") 19 Сентября
                        p Оперативные поставки дробилок и грохотов McCloskey + бесплатная пуско-наладка
                        a(href="#") Подробнее
                    .news__post
                        time(datetime="19-09-2014") 19 Сентября
                        p Оперативные поставки дробилок и грохотов McCloskey + бесплатная пуско-наладка
                        a(href="#") Подробнее
                    .news__post.news__post_last
                        time(datetime="19-09-2014") 19 Сентября
                        p Оперативные поставки дробилок и грохотов McCloskey + бесплатная пуско-наладка
                        a(href="#") Подробнее
                .about
                    h3 Несколько слов о нас
                    p Компания «АстрА-техно» – генеральный импортер и дистрибьютор в России строительной, землеройной, коммунально-уборочной техники таких брендов, как:
                    ul
                        li MUSTANG (США) — мини погрузчики с бортовым поворотом, шарнирно-сочлененные мини погрузчики, гусеничные мини погрузчики;
                        li HANIX (Япония) — гусеничные мини экскаваторы;
                    p А также представляет популярные бренды ландшафтно-озеленительной, грузоподъемной, дорожной, высотной техники и дробильно-сортировочного оборудования
                    ul
                        li AVANT (Финляндия) — мини тракторы и мини погрузчики с шарнирно-сочлененной рамой;
                        li DIECI (Италия) — высокопроизводительные <a href="#">телескопические погрузчики</a> с жёсткой стрелой и с поворотной башней;
                        li TEREX (Великобритания) — экскаваторы-погрузчики, мини экскаваторы и фронтальные погрузчики;
                    p Представленные компанией «АстрА-техно» бренды являются лидерами в своей области, а фирмы-изготовители имеют огромный опыт в производстве универсальной техники. Используя современные передовые технологии и разработки, высококвалифицированный персонал заводов-изготовителей производит технику, которая отвечает всем требованиям самых взыскательных клиентов.
                    p Продажа минитракторов, подъемников и других видов техники - это сфера, в которой особенно важны профессионализм, опыт и понимание главных тенденций данного направления. Наши клиенты, которые хотят купить минитрактор, должны быть уверены в качестве приобретаемой техники и сервисном обслуживании.
                    p Помимо самих моделей техники наша компания осуществляет продажу дополнительного оборудования, которым при необходимости могут оснащаться машины. Оборудование поставляется от ведущих отечественных и зарубежных изготовителей.
            .sponsors
                ul.sponsors__list
                    each item in ['mccloskey','terex','dieci','hanix','avant','mustang','hanix']
                        li(class="sponsors__list-item sponsors__list-item_"+item)
                            a(href="#" ).sponsors__list-link

