.footer
    ul.footer__menu
        li.footer__menu__inner
            p.footer__menu__inner-caption О компании
            ul.footer__menu__inner__list
                each item in ['История создания', 'Персонал', 'Сертификаты', 'Новости']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
        li.footer__menu__inner
            p.footer__menu__inner-caption Сервис
            ul.footer__menu__inner__list
                each item in ['Обслуживание', 'Партнеры', 'Предложения']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
        li.footer__menu__inner
            p.footer__menu__inner-caption Новости
            ul.footer__menu__inner__list
                each item in ['Архив', 'Горячие ', 'О компании']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
        li.footer__menu__inner
            p.footer__menu__inner-caption Спецтехника
            ul.footer__menu__inner__list
                each item in ['Аренда техники', 'Финансовые решения', 'Экскаваторы', 'Погрузчики', 'Автокраны']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
        li.footer__menu__inner
            p.footer__menu__inner-caption Контакты
            ul.footer__menu__inner__list
                each item in ['Обратная связь', 'Телефон']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
        li.footer__menu__inner
            p.footer__menu__inner-caption Запчасти
            ul.footer__menu__inner__list
                each item in ['На заказ', 'Смотреть каталог', 'Поиск']
                    li.footer__menu__inner__list-item
                        a(href="#").footer__menu__inner__list-link=item
    .footer__logo
        a(href="#").footer__logo-link
            img(src="/img/footer-logo.png")
        h1.logo-text Техник
    .footer__copyright
        p.footer__copyright-text Все права защищены 2009-2014
        p.footer__copyright-text Любое копирование информации с сайта запрещено.
    .contacts
        .contacts__call.contacts__call_monochrome
            span.contacts__call-message Звоните нам!
            .contacts__call-tel
                a(href="tel:+73512832847").contacts__call-link +7 (351) 283 28 47
                a(href="tel:+79080558811").contacts__call-link +7 (908) 055 88 11