.header
    .header__logo
        a(href="#").header__logo-link
            img(src="/img/header-logo.png")
        h1.logo-text Техник
    .header__menu
        ul.header__menu__list
            each item in ['О компании', 'Спецпредложения', 'Контакты']
                li.header__menu__list-item
                    a(href="#").header__menu__list-link=item
    .contacts
        .contacts__email
            a(href="mailto:Infohome@yahoo.com").contacts__email-link Infohome@yahoo.com
        .contacts__call
            .contacts__call-message Звоните нам!
            .contacts__call-tel
                a(href="tel:+73512832847").contacts__call-link +7 (351) 283 28 47
                a(href="tel:+79080558811").contacts__call-link +7 (908) 055 88 11
            .contacts__call-message Оставьте номер и мы Вам перезвоним!
    .header__icons
        ul.header__icons__list
            each item in ['home', 'message', 'map']
                li.header__icons__list-item
                    a(href="#" class="header__icons__list-link_"+item)