@import "compass/reset";

/* Tools */
@import "tools/index";

/* Base */
@import "base/index";

/* Layout */
@import "layout/index";

/* Modules */
@import "modules/index";

* {
  border: 1px solid black;
  border-radius: 5px;
  color: red;
}