// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font: 'helveticaneuecyrroman', Arial, sans-serif;

/* Color variables */

$header-color: #373737;
$text-color: #a6a6a6;

$color-link: #CF3232;
