// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font: 'helveticaneuecyrroman', Arial, sans-serif;

/* Color variables */

$color-link: blue;
$color-link-hover: lighten($color-link, 20%);