// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font: Arial, sans-serif;

/* Color variables */

$color-link: #eee;
$color-link-hover: lighten($color-link, 40%);