// =======================
// Base/Base
// =======================

body {
    font-family: $main-font;
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
}

a {
    color: $color-link;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.logo-text {
    position: absolute;
    left: -999999999999999999px;
}